[submodule "lib/index"]
	path = lib/index
	url = git@github.com:bjornhusberg/index.git
[submodule "lib/wallpaper"]
	path = lib/wallpaper
	url = git@github.com:bjornhusberg/wallpaper.git
[submodule "lib/arkivera"]
	path = lib/arkivera
	url = git@github.com:bjornhusberg/arkivera.git
[submodule "lib/colorant"]
	path = lib/colorant
	url = git@github.com:bjornhusberg/colorant.git
[submodule "lib/serve"]
	path = lib/serve
	url = git@github.com:bjornhusberg/serve.git
[submodule "lib/backup"]
	path = lib/backup
	url = git@github.com:bjornhusberg/Backup.git
