[submodule "lib/index"]
	path = lib/index
	url = https://github.com/bjornhusberg/index.git
	branch = master
[submodule "lib/wallpaper"]
	path = lib/wallpaper
	url = https://github.com/bjornhusberg/wallpaper.git
	branch = master
[submodule "lib/arkivera"]
	path = lib/arkivera
	url = https://github.com/bjornhusberg/arkivera.git
	branch = master
[submodule "lib/colorant"]
	path = lib/colorant
	url = https://github.com/bjornhusberg/colorant.git
	branch = master
[submodule "lib/serve"]
	path = lib/serve
	url = https://github.com/bjornhusberg/serve.git
	branch = master
[submodule "lib/backup"]
	path = lib/backup
	url = https://github.com/bjornhusberg/Backup.git
	branch = master
[submodule "lib/hours"]
	path = lib/hours
	url = https://github.com/bjornhusberg/hours.git
  branch = master
[submodule "lib/ptbackup"]
	path = lib/ptbackup
	url = https://github.com/bjornhusberg/ptbackup.git
  branch = master
[submodule "lib/rgit"]
	path = lib/rgit
	url = https://github.com/bjornhusberg/rgit.git
  branch = master
