# to jump the cursor over words
"\C-f": forward-word
"\C-b": backward-word
"\C-h": backward-kill-word

# these allow you to start typing a command and
# use the up/down arrow to auto complete from
# commands in your history
"\e[B": history-search-forward
"\e[A": history-search-backward

"\C-v": paste-from-clipboard
